.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 54px;
    margin-bottom: 26px;
    width: 100%;
}

@media (max-width: 450px) {
    .row{
        margin-bottom: 10px;
    }
}